<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Shohjahon Rajabov</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="../static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">Shohjahon Rajabov</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="mailto:cybersnic@gmail.com" class="email"><i class="bi bi-envelope"></i></a>
                <a href="https://github.com/createuz" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://www.linkedin.com/in/shohjahon-rajabov-8758b9272/" class="linkedin"><i
                        class="bx bxl-linkedin"></i></a>
                <a href="https://t.me/cybersnic" class="telegram"><i class="bx bxl-telegram"></i></a>
                <a href="https://www.instagram.com/rajabovmy/" class="instagram"><i
                        class="bx bxl-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100078686100407" class="facebook"><i
                        class="bx bxl-facebook"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            {% csrf_token %}
            <ul>
                <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li><a href="/about/" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a>
                </li>
                <li><a href="/resume/" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                    <span>Resume</span></a></li>
                <li><a href="/skill/" class="nav-link scrollto"><span class="skill-icon"><i
                        class="bx bx-star"></i></span><span
                        class="skill-level">Skills</span></a></li>
                <li><a href="/portfolio/" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                    <span>Portfolio</span></a>
                </li>
                <li><a href="/contact/" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                    <span>Contact</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">📝 Summary</h3>
                        <div class="resume-item pb-0">
                            <h4>Shohjahon Rajabov</h4>
                            <p><b>
                                <ul>I am a skilled Python developer with 1 year of experience in
                                    building efficient and effective applications. I have experience
                                    with Python frameworks such as Django and DRF, which I use to
                                    develop advanced web applications. And partly for the frontend
                                    part I use partly HTML, CSS and JavaScript for frontend
                                    development.
                                    I like to solve complex problems and always strive to find optimal
                                    solutions in short deadlines. I am committed to delivering high
                                    quality code and ensuring the successful completion of assigned
                                    projects
                                </ul>
                            </b></p>

                        </div>

                        <h3 class="resume-title">🎓 Education</h3>
                        <div class="resume-item">
                            <h4>Computer Science Engineering</h4>
                            <h5>2021 - 2026</h5>
                            <ul>
                                <p><b>Tashkent University of Information
                                    Technologies named after
                                    Muhammad Al-Khwarizmi</b></p></ul>
                        </div>
                        <div class="resume-item">
                            <h4>👨‍💻 Education Center</h4>
                            <h5>2022 - 2023</h5>
                            <p><b>
                                <ul>Studied programming at 🟢// PDP Academy
                                    Education Center
                                </ul>
                            </b></p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">💼 Experience</h3>
                        <div class="resume-item">
                            <h4>Specialist</h4>
                            <h5>2023 - Present</h5>
                            <p><em>Experion, Tashkent, Uzbekistan </em></p>
                            <ul>
                                <b>I have worked on several projects including Uzum Market API and Multi-brand online
                                    shop
                                    using DRF. I am proficient in Docker, Redis, Celery, PostgreSQL, Git, Linux and have
                                    experience working with Amazon Web Services (AWS) and DigitalOcean. Additionally, I
                                    have
                                    expertise in developing Telegram bots using the Aiogram library.
                                </b>
                            </ul>
                        </div>
                        <h3 class="resume-title">Technical Skills</h3>
                        <div class="resume-item">
                            <h4>Addidtional Skills</h4>
                            <ul>
                                <b>Python 🐍, Django, DRF, RESTful API, Jinja2, Telegram Bot,
                                    Docker, Redis, Celery, Postman, PostgreSQL, SQLite,
                                    SQLAlchemy, Aiogram, Pyrogram, Asyncio, Git, GitHub,
                                    Gitlab, Linux(Ubuntu), Heroku, AWS, DigitalOcean
                                </b>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Shohjahon Rajabov</span></strong>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../static/assets/vendor/aos/aos.js"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/vendor/typed.js/typed.min.js"></script>
<script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/main.js"></script>

</body>

</html>